.filters-bar {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Input field */
.filters-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  background: #222121;
  color: #fff;
}

/* Tablet */
@media (max-width: 768px) {
  .filters-bar input {
    width: 220px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .filters-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .filters-bar input {
    width: 100%;
  }
}
