.nav{
    position: sticky;
    width: 100%;
    height: 5rem;
    
    z-index: 5;
   border-bottom: 2px solid black;
}
.nav{
    display: flex;
    
    gap: 5rem;
    align-items: center;
    justify-content: space-around;
}
.app-title{
    font-size: 2.5rem;
    cursor: pointer;
}
 a {
    text-decoration: none;
    margin: 2rem;
    padding: 1.5rem;
}


.navLink{
    font-size: 1.2rem;
}