.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;
  background: #111;
  border-bottom: 1px solid #2a2a2a;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  color: #00e5ff;
  cursor: pointer;
}

.navLink {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navLink a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
}

.navLink a.active {
  color: #00e5ff;
}

.logout-btn {
  background: transparent;
  border: 1px solid #00e5ff;
  color: #00e5ff;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background: #00e5ff;
  color: #000;
}
